$primary: #145da0;
$secondary: #0c2d48;
// this page is supposed to customize the bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../app/globals.css";
@import "react-vertical-timeline-component/style.min.css";

.blurCorners {
  box-shadow: inset 0px 0px 40px 40px $primary;
}

h1,
h3 {
  font-family: var(--font-mont);
}

p {
  font-family: var(--font-mulish);
}

.resumeCard {
  .MuiCardHeader-subheader {
    color: white;
  }
}

#contact {
  .MuiCardHeader-subheader {
    color: $primary;
  }
}

.contactField {
  label {
    color: $primary;
  }
  input {
    color: white;
  }
  textArea {
    color: white;
  }
}

.messageInput {
  color: white;
}

.shouldFade, #bannerCard {
  animation: fade-in 2s;

}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

#resumeToggleButton {
  color: white
}

#resumeToggleButton:hover {
  color: $secondary
}

.resumeTimeline, #skillsBodyContainer {
  height: 80%
}